:root {
   --darkBackgroundColor: #1f2937;
   --buttonBackgroundColor: #e5e7eb;
   --grayBackgroundColor: #e5e7eb;
   --headerColorText: #f9faf8;
   --buttonColor: #3882f6;
   --infoTextColor: #1f2937;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: wrap;
}

.logo {
    border: 3px solid var(--darkBackgroundColor);
    background-color: var(--darkBackgroundColor);
}

.nav{
    display: flex;
    justify-content: space-betweeen;
    padding-top: 5px;
    border: 3px solid var(--darkBackgroundColor);
    background-color: var(--darkBackgroundColor);
    color: var(--headerColorText); 
    margin: 0 auto;
}

.box:hover {
   background-color: var(--buttonColor);
   color: var(--darkBackgroundColor);
   border-radus: 5px;
}

.logoImg {
    margin-left: 5em;
    height: 80px;
    width: 100px;
}

.boxLink{
    flex: 5;
    list-style:  none; 
    padding-right: 5em;
    color: var(--grayBackgroundColor);
}

.box {
    float: right;
    padding-top: 10px;
    padding-left: 20px;
   
}

@media (max-width: 640px) {
    .nav{
        text-align: center;
        align-items: center;
        align-content: center;
        border: 5px solid var(--darkBackgroundColor);
    }

    .nav{
        flex-direction: column;
        padding: 5px;
        border: 5px solid var(--darkBackgroundColor);
    }

    .logo {
        margin: 10px;
        flex-direction: column;
        padding: 5px;
        }

    .box {
        margin: 10px;
        flex-direction: column;
    }

    .boxLink {
       flex-direction: column;
       width: 40%;
    }
  
   .topContainer {
        flex-direction: column;
        flex-wrap: wrap;
    }
   
   #box1 {
        flex-wrap: wrap;
    }
}

.pageContainer {
   
}

.topContainer {
    background-color: var(--darkBackgroundColor);
    color: var(--headerColorText);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;  
    align-items: space between;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
   
   .signupButton:hover {
       background-color: var(--buttonBackgroundColor);
       color: var(--darkBackgroundColor);
}

.signupBox {
    padding:20px;
}

#box1 {
    height: 75%;
    width: 50%;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 2;
    padding: 5em;
    align-content: center;
    margin: 0;
}

#box1 h1 {
    font-size: 45px;
    padding-bottom: 0;
}

#box1 p {
    font-size: large;
    padding-top: 0;
}

.signupButton {
    align-content: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: var(--buttonColor);
    border-color: var(--buttonColor);
    color: var(--headerColorText);
    font-size: large;
}
   
 .topImg {
     flex: 2 100px;
     padding: 20px;
     margin: 5em;
     flex-grow: 1;
 }

 .topImg2 {
    height: 300px;
    width: 350px;
    border-radius: 3px;
 }
 .container2 {
     background-color: var(--headerColorText);
     font-family: 'Roboto', sans-serif;
     display: flex;
     flex-flow: column wrap;
     justify-content: center;  
     align-items: center;
     align-content: center;
     margin: 0;
     padding: 20px;
 }

 .container2 h2 {
     font-size: 40px;
     padding: 12px;
     flex: 5;
 }
 
 .imgBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;  
    align-items: center;
    align-content: center;
    flex: 1;
    width: 50%;
    height: 50%'     
 }

 #card1 {
    flex: 1;
    padding: 5px;
    margin: 2px;
    flex-grow: 1;
    border-radius: 5%;
    width: 200px;
    height: 275px;
    align-items: center;
    align-content: center;
    justify-content: center;
 }

 #card2 {
    flex: 1;
    padding: 5px;
    margin: 2px;
    flex-grow: 1;
    border-radius: 5%;
    width: 200px;
    height: 275px;
    align-items: center;
    align-content: center;
    justify-content: center;
 }

 #card3 {
    flex: 1;
    padding: 5px;
    margin: 2px;
    flex-grow: 1;
    border-radius: 5%;
    width: 200px;
    height: 275px;
    align-items: center;
    align-content: center;
    justify-content: center;
 }


 #card4 {
    flex: 1;
    padding: 5px;
    margin: 2px;
    flex-grow: 1;
    border-radius: 5%;
    width: 200px;
    height: 275px;
    align-items: center;
    align-content: center;
    justify-content: center;
 }

 #card1 p{
    width: 150px;
    height: 200px;
    padding-left: 15px;
    padding-bottom: 3px;
    color: var(--darkBackgroundColor);
    text-align: center;
}
 

 #card2 p{
    width: 150px;
    height: 200px;
    padding-left: 15px;
    padding-bottom: 5px;
    color: var(--darkBackgroundColor);
    text-align: center;
}
   

#card3 p{
    width: 150px;
    height: 200px;
    padding-left: 15px;
    padding-bottom: 5px;
    color: var(--darkBackgroundColor);
    text-align: center;
}

#card4 p{
    width: 150px;
    height: 200px;
    padding-left: 15px;
    padding-bottom: 5px;
    color: var(--darkBackgroundColor);
    text-align: center;
}


 .img {
     width: 150px;
     height: 150px;
     border-radius: 5%;
     padding: 15px;
     border: 3px solid var(--buttonColor);
     
 }

 .quoteContainer {
     background-color: var(--grayBackgroundColor);
     display: block-inline;
     justify-content: center;
     padding: 3em;
 }

 .quoteText {
    text-align: center;
    color: var(--darkBackgroundColor);
    font-size: xx-large;
    font-style: italic;
    background-color: var(--grayBackgroundColor);
 }

 #name {
     font-size: large;
     font-style: none;
     text-align: right;
     font-weight: 600;
     padding-right: 20em;
 }

 .callToAction {
    background-color: var(--headerColorText);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    height: 300px;
 }

 .callBox {
     background-color: var(--buttonColor);
     color: var(--headerColorText);
     display: flex;
     flex-flow: row wrap;
     width: 800px;
     height: 100px;
     align-items: center;
     align-content: center;
     justify-content: center;
     padding-right: 50px;
     padding-left: 50px;
     border-radius: 10px;
 }

 .innerCallBox {
     flex: 1;
     padding: 10px;
     align-content: center;
     color: var(--buttonBackgroundColor);
 }
 .innerCallBox h4 {
     font-size: larger;
 }

 .innerCallBox p {
     font-size: medium;
     padding-right: 5px;
     padding-bottom: 5px;
 }

 .buttonBox {
    flex: 1;
    padding-right: 20px;
 }
  
   .callButton:hover {
      background-color: var(--buttonColor);
      color: var(--buttonBackgroundColor);
}

 .callButton {
     padding-right: 10px;
     padding-left: 10px;
     padding-top: 1px;
     padding-bottom: 1px;
     background-color: var(--buttonColor);
     color: var(--headerColorText);
     border-color: 5px solid var(--headerColorText);
     height: 30px;
     width: 100px;
     border-radius: 10px;
     font-size: larger;
 }

 .footer {
     background-color: var(--darkBackgroundColor);
     color: var(--buttonBackgroundColor);
     display: block;
     margin: 0px;
     padding: 20px;
     border: 0px;

 }
 .footerText {
     text-align: center;
     padding: 20px;
     margin: 0px;
 }
